## Heart Disease Prediction Using Logistic Regression

Load Dataset

In [45]:
import numpy as np
import pandas as pd
# load the data to a Pandas DataFrame
heart_data = pd.read_csv('G:\Sem 5\Pattern Recognition\My Projects\Logistic Regression\Heart Disease Prediction\heart_disease_data.csv')

Dataset Analysis

In [46]:
print("(Num data,categories)  = ",heart_data.shape) # shape
heart_data.head() # Top 5 data

(Num data,categories)  =  (303, 14)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [47]:
# Column names
heart_data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [48]:
# Check for null values exists or not
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [49]:
# do have heart disease -> 0
# do not have heart disease -> 1
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

Split the Features and Target

In [50]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

Train Test Split

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [52]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Model Training using Logistc Regression

In [53]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [54]:
# train 
model.fit(X_train, Y_train)

c:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Performance Evaluation

In [55]:
# accuracy on training data
from sklearn.metrics import accuracy_score
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Training data accuracy : ', training_data_accuracy)

Training data accuracy :  0.8512396694214877

In [56]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.819672131147541

Now let's Predict

In [57]:
input_data = (43,1,0,150,247,0,1,171,0,1.5,2,0,2)
input_data= np.asarray(input_data).reshape(1,-1)

#predict
pred= model.predict(input_data)
print(pred)

if (pred[0]== 0):
  print(' Do not have a Heart Disease')
else:
  print('Has Heart Disease')

[1]
Has Heart Disease